
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  } 

.list {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  }

.post {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  }

.img {
  width: 500px;
  height: auto;
}

.interactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.nolikes {
  color: #999;
  font-style: italic;
}
