.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading {
  font-size: 60px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.label {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  display: block;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textarea {
  height: 100px;
  width: 100%;
  font-size: 20px;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%; /* Adjusted to be responsive */
  max-width: 400px; /* Maintain max width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 10px;
  text-align: left;
  font-size: 30px;
}

.span {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .heading {
    font-size: 50px; /* Adjust heading size for tablets */
  }

  .label {
    font-size: 22px; /* Adjust label size */
  }

  .input,
  .textarea {
    font-size: 18px; /* Adjust input and textarea sizes */
  }

  .info {
    font-size: 24px; /* Adjust info size */
  }

  .span {
    font-size: 30px; /* Adjust span size */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 40px; /* Further adjust heading size for mobile */
  }

  .label {
    font-size: 20px; /* Further adjust label size */
  }

  .input,
  .textarea {
    font-size: 16px; /* Further adjust input and textarea sizes */
  }

  .info {
    font-size: 20px; /* Further adjust info size */
  }

  .span {
    font-size: 24px; /* Further adjust span size */
  }
}
