.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading {
  font-size: 60px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.image {
  width: 100%; /* Make the image responsive */
  max-width: 300px; /* Maintain max width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 10px;
  text-align: left;
  font-size: 30px;
}

.span {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.span a:hover {
  color: #070707;
}

.username {
  font-size: 35px;
  color: #212121;
}

.username a:hover {
  color: #070707;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .heading {
    font-size: 50px; /* Adjust heading size for tablets */
  }

  .info {
    font-size: 24px; /* Adjust info size for tablets */
  }

  .span {
    font-size: 30px; /* Adjust span size for tablets */
  }

  .username {
    font-size: 28px; /* Adjust username size for tablets */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 40px; /* Further adjust heading size for mobile */
  }

  .info {
    font-size: 20px; /* Further adjust info size for mobile */
  }

  .span {
    font-size: 24px; /* Further adjust span size for mobile */
  }

  .username {
    font-size: 22px; /* Further adjust username size for mobile */
  }
}
