# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs
logs
*.log
npm-debug.log*

# Build Artifacts
/dist
/out

# Temporary Files
/temp
/tmp

# Optional npm cache directory
.npm

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.AppleDouble
.LSOverride
Icon
