.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.form {
  margin-bottom: 30px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  margin-top: 50px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form textarea {
  height: 150px;
}

.preview {
  width: 500px;
  height: auto;
}