.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 130px;
}

.title {
  font-size: 4rem; /* Use relative size for better scalability */
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.form {
  margin-bottom: 60px;
}

.label {
  display: block;
  font-size: 1.5rem; /* Use relative size */
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  margin-top: 50px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem; /* Use relative size */
}

.form textarea {
  height: 150px;
}

.preview {
  max-width: 100%; /* Ensure the preview scales with the container */
  height: auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem; /* Adjust title size for smaller screens */
  }

  .label {
    font-size: 1.25rem; /* Adjust label size */
  }

  .form input,
  .form textarea {
    padding: 12px; /* Adjust padding for smaller screens */
  }
}
