  .title {
  margin-top: 30px;
  font-size: 80px;
  font-family: "Oswald", sans-serif;
}

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .container {
    width: 700px;
    margin: 40px auto;
    padding: 20px;
    margin-bottom: 80px;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
  }

  .post h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .img {
    margin-top: 50px;
    width: 600px;
    height: auto;
  }
  
  .caption {
    margin-top: 20px;
    font-size: 25px;
  }

  .interactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .username {
    font-weight: bold;
    font-size: 60px;
    color: black;
  }
