.commentContainer {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

.username {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.username a:hover {
  color: #070707;
}
