.container {
    margin-bottom: 80px;
 }

.postlist {
    list-style-type: none;
    padding: 0;
 }

  
.post {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
 }

.post h3 {
    margin-top: 10px;
 }
  
.caption {
    margin-bottom: 10px;
    font-size: 20px;
 }
  
.img {
    width: 300px;
    height: auto;
 }
  
.interactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
  
.username {
    font-weight: bold;
    font-size: 20px;
 }